@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Montserrat&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    font-family: 'Montserrat', sans-serif;
    color: azure;
}

main {
    flex: 1 0 auto;
    background-color: #006466;
}

.cursive-text {
    font-family: 'Dancing Script', cursive;
}

.heading-text {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.white-text {
    color: azure;
}

.btn {
    background-color: rgb(77,25,77);
    font-weight: bold;
    color: azure;
}

.btn:hover {
    background-color: rgba(77,25,77,0.7);
}

.recipe-box img {
    object-fit: cover;
    width: 100%;
    position: relative;
    padding: 20px;
}

/*----- Hero Img -------*/

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 75vh;
    position: relative;
}

.hero-text {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-btn {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.button {
    background-color: rgba(77,25,77,0.5);
    font-weight: bold;
    padding: 30px;
    margin-left: 15px;
}

.button:hover {
    background-color: rgb(77, 25, 77);
}


/*----- Navbar -------*/

.navbar {
    background-color: #212f45;
    width: 100%;
}

.logo-text {
    font-size: 25px;
}

.logo-img {
    vertical-align: middle;
}

.brand-logo {
    width: fit-content;
}

/*---- About section----*/
.about-container {
    background-color: rgba(11, 82, 91, 0.7);
    margin: 50px;
    padding: 20px;
    font-size: 20px;
}

/*------ Footer ---------*/
.page-footer {
    background-color: #212f45;
    padding: 0;
}

.page-footer .row {
    margin: 0;
}

.social-network li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
}

.social-network i {
    font-size: 45px;
}

.social-network i:hover {
    background-color: rgb(77, 25, 77);
}

/*---- Media queries for smaller screens ---*/
@media only screen and (max-width: 600px) {
    .about-container {
        margin: 25px;
        padding: 10px;
        font-size: 20px;
    }
  }