{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="heading-text">Add Category</h1>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
            <div class="form-box">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="category_name" name="category_name" type="text" minlength="3" maxlength="75"
                            class="validate" required>
                        <label for="recipe_name">Category Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="category_img" name="category_img" type="text" class="validate" required>
                        <label for="category_img">Category Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn">Add Category</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}