{% extends "base.html" %}
{% block content %}

    <!-- search bar -->
    <div class="row search-bar">
        <div class="col s12 m10 offset-m1">
            <form action="{{ url_for('search') }}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Search recipes by ingredient</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Recipe display  -->
    <div class="row">
        {% for recipe in recipes %}
            <div class="col s12 m6">
                <div class="card recipe-card">
                    <div class="card-image">
                        <img src="{{ recipe.recipe_img }}" alt="recipe image">
                        <span class="card-title dark-banner capitalize">{{ recipe.recipe_name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="btn" href="{{ url_for('full_recipe', recipe_id=recipe._id)}}">Go To Recipe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}