{% extends "base.html" %}
{% block content %}

    <!-- search bar -->
    <div class="row search-bar">
        <div class="col s12 m10 offset-m1">
            <form action="{{ url_for('search') }}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Search recipes by ingredient</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <h1 class="center-align recipe-banner heading-text capitalize">{{ recipe.recipe_name }}</h1>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card recipe-card">
                <div class="card-image">
                    <img src="{{ recipe.recipe_img }}" alt="recipe image">
                    <span class="card-title dark-banner capitalize"><i>Created by: {{ recipe.created_by }}</i></span>
                </div>
                <!-- Create print button -->
                <div class="col s12 center-align">
                    <button class="btn print-btn" onclick="window.print()"><i class="fas fa-print"></i> Print</button>
                </div>
                <div>
                    <div class="card-content">
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                    <div>
                        <!-- Create the list of ingredients -->
                        <h5 class="center-align recipe-banner">Ingredients:</h5>
                        {% for ingredient in recipe.ingredients %}
                            <p class="center-align">{{ ingredient }}</p>
                        {% endfor %}
                        <!-- Create the list of steps -->
                        <h5 class="center-align recipe-banner">Method:</h5>
                        {% for step in recipe.method %}
                            <p>{{ step }}</p>
                        {% endfor %}
                        <!-- Creates notes/tips -->
                        <h5 class="center-align recipe-banner">Tips</h5>
                        <p>{{ recipe.notes }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}