{% extends "base.html" %}
{% block content %}

    <!-- search bar -->
    <div class="row search-bar">
        <div class="col s12 m10 offset-m1">
            <form action="{{ url_for('search') }}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Search recipes by ingredient</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div>
            <img class="hero-img" src="{{ category.category_img }}" alt="recipe category image">
        </div>
    </div>
    <div>
        <h1 class="center-align cursive-text capitalize">{{ category.category_name }}</h1>
    </div>
    {% for recipe in recipes%}
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card recipe-card">
                    <div class="card-image">
                        <img src="{{ recipe.recipe_img }}" alt="recipe image">
                        <span class="card-title dark-banner capitalize">{{ recipe.recipe_name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="btn" href="{{ url_for('full_recipe', recipe_id=recipe._id)}}">Go To Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if recipes.count() == 0 %}
        <div class="center-align dark-banner category-msg">
            <h2>No Recipes Added Yet :(</h2>
            <a class="btn" href="{{ url_for('add_recipe')}}">
                <i class="fas fa-plus"></i> Add Recipe</a>
        </div>
    {% endif %}

{% endblock %}