{% extends "base.html" %}
{% block content %}

<!-- Hero image -->
    <div>
        <div class="row">
            <div class="hero-text">
                <h3 class="cursive-text">Recipes to impress<br>your loved ones..</h3>
            </div>
            <div>
                <img class="hero-img" src="{{ url_for ('static', filename='images/hero-img.webp') }}" alt="table setting">
            </div>
            <div class="row">
                <div class="hero-btn">
                    <a href="{{ url_for('recipe_categories') }}" class="button white-text">Inspire Me</a>
                    <a class="button white-text">Login</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="heading-text"><i class="fas fa-info-circle"></i> About Us</h3>
        <div class="about-container">
            <p>
                We are a community based family sharing recipes to take the
                stress out of cooking for those special occasions to impress
                our family and friends.<br>
                Whether you are here for just a look we have lots of different
                recipes to tantalise those taste buds, or if you decide to
                join our community and register an account you'll have the
                option to add your own recipes and share them with other food 
                lovers here at Recipe Delights.<br>
                And most importantly have fun, be nice and enjoy!
            </p>
        </div>
    </div>

{% endblock %}