{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <h1 class="heading-text"><i class="fas fa-book-open"></i> Recipes</h1>
            <div class="row">
                <div class="center-align">
                    <a class="btn white-text center-align" href="#">Add Category</a>
                </div>
                {% for category in categories %}
                    <div class="col s12 m6 recipe-box center-align">
                        <img src="{{ category.category_img }}" alt="recipe category image">
                        <div class="recipe-name">
                            <h4 class="capitalize">{{ category.category_name }}</h4>
                        </div>
                        <div class="category-btn center-align">
                            <div class="row">
                                <a class="btn white-text" 
                                    href="{{ url_for('full_category', category_id=category._id) }}">Recipes</a>
                                {% if session.user|lower == "admin" %}
                                    <a class="btn white-text" 
                                        href="#"><i class="far fa-edit"></i></a>
                                    <a class="btn white-text" 
                                        href="#"><i class="far fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}