{% extends "base.html" %}
{% block content %}

    <!-- search bar -->
    <div class="row search-bar">
        <div class="col s12 m10 offset-m1">
            <form action="{{ url_for('search') }}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Search recipes by ingredient</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h1 class="heading-text"><i class="fas fa-book-open"></i> Recipe Categories</h1>
            <div class="row">
                {% if session.user|lower == "admin" %}
                    <div class="center-align">
                        <a class="btn white-text center-align" href="{{ url_for('add_category') }}">Add Category</a>
                    </div>
                {% endif %}
                {% for category in categories %}
                    <div class="col s12 m6 recipe-box center-align">
                        <img src="{{ category.category_img }}" alt="recipe category image">
                        <div class="recipe-name">
                            <h4 class="capitalize">{{ category.category_name }}</h4>
                        </div>
                        <div class="category-btn center-align">
                            <div class="row">
                                <a class="btn white-text" 
                                    href="{{ url_for('full_category', category_id=category._id) }}">Recipes</a>
                                {% if session.user|lower == "admin" %}
                                    <a class="btn white-text" href="{{ url_for('edit_category', category_id=category._id) }}">
                                        <i class="far fa-edit"></i></a>
                                    <a class="btn white-text" href="{{ url_for('delete_category', category_id=category._id) }}">
                                        <i class="far fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}