{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="heading-text">Register</h1>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="form-box">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix"></i>
                        <input id="username" name="username" type="text" minlength="4" maxlength="20"
                            pattern="^[a-zA-Z0-9]{4,20}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="4" maxlength="20"
                            pattern="^[a-zA-Z0-9]{4,20}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row form-alert">
        <div class="col s12">
            <p class="center-align">
                Already created an account? 
                <a href="{{ url_for('login') }}">Login here</a>
            </p>
        </div>
    </div>
{% endblock %}